<%- include('includes/head') %>
<%- include('includes/nav') %>
  <div class="container mt-2">
     <div class="row gx-5">
        <div class="col-md-6">
           <div class="d-flex blocos">
              <div class="totalQuantidade">
                 <h1>Associações</h1>
                 <h2>44</h2>
              </div>
              <img src="../../public/img/iconeAssociacoes.svg"  class="icone" alt="Imagem das associações">
           </div>
           <div class=" mt-5 totalQuantidade">
              <h2>Cadastro desatualizados</h2>
              <h3>10</h3>
              <div class=" mt-5 totalQuantidade">
                 <h2>Cadastro não finalizados</h2>
                 <h3>4</h3>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <div class="d-flex blocos">
              <div class="totalQuantidade">
                 <h1>Pequenos Agricultores</h1>
                 <h2>94</h2>
              </div>
              <img src="./img/iconePequenoAgricultores.svg"  class="icone" alt="Imagem de pequenos agricu">
           </div>
           <div class=" mt-5 totalQuantidade">
              <h2>cadastro desatualizados</h2>
              <h3>10</h3>
              <div class=" mt-5 totalQuantidade">
                 <h2>Cadastro não finalizados</h2>
                 <h3>4</h3>
              </div>
           </div>
        </div>
     </div>
  </div>
  </div>


<%- include('includes/footer') %>